
        p 
        { 
            color :rgb(10, 33, 109);
            font-size: 25px;

        }
        /* h2{
            color: rgb(19, 219, 36);
            font-size: 35px;
        } */
        h3{
            color:cyan;
            font-size: 30px;
        }
        /*h4{
            color:darkgreen;
            font-size: 30px;
            text-transform:inherit;
        }*/
        .uppercase{
            color: aqua;
            text-transform:uppercase;

        }
        .cursive{
            font-family: cursive;
            font-size: 30px;
        }
        #blog-desc{
            color: chartreuse; 
            font-family: Cursive;
        }

        li h4{
            color:rgb(42, 201, 42);
            font-family: Helvetica;

        }
        #blog-title:hover{
            color:orange;
            font-size: 35px;
            font-display:initial;
        }
        #div1{
            height: 200px;
            width: 200px;
            background-color: blue;
            
        }
        #div2{
        height: 150px;
        width: 150px;
        background-color: rgba(25,35,80,0.7);
      
        
        }
        #div3{ align-self;
            height: 80px;
            width: 95px;
            background-color: hsl(80, 96%, 18%);
        }