body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    /* opacity: 0.8; */
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0ms, border-bottom 4s;
}

.nav-menu li a:hover {
    box-shadow: 0px 1px 6px 4px rgb(165, 15, 15);
     list-style: none;
     border: 1px solid crimson;
     background-color: black;
     color:rgb(230, 37, 37);
     animation-duration: +8000ms;

}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border: 2px solid black;
    
}

/*Section Classes*/

section {
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    
    border-radius: 50%;
    border: 3px solid rgb(150, 241, 165);
    box-shadow: 1px 1px 10px 2px rgb(211, 211, 211);
}

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
} 

/*Skills Section*/


.skills-display {
 /* removing after putting value */
    width: 70%;
    height: 100px;
    /* border: 2px solid black; 	 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-display-1 {
    /* removing after putting value */
       width: 70%;
       height: 100px;
       /* border: 2px solid black; 	 */
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   
.skill-progress {
    width: 10rem;
    height: 2rem;
    background-color: rgb(216, 192, 192);
    border-radius: 1.1rem;
    border: 2px solid black;
}

.skill-progress>div {
    border-radius: 20px 0px 0px 20px;
  
}

.skill-name span{
    color: white;
    font-size: 0.8rem;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}

/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-orange{
    background-color: orange;
}

.mb-green{
    background-color: green;
}
.mb-blue {
    background-color: #2857a4;
}
.mb-red{
    background-color: red;
}
.mb-yellow{
    background-color: rgb(17, 202, 17);
}
.mb-violet{
    background-color: violet;
}
.mb-pink{
    background-color: rgb(199, 29, 58);
}
/*Percentage Classes */

.eighty-five-percent {
width: 85%;
}
.fifty-five-percent {
width:75%;
}

.display-center-skill-progress{
    display: flex;
    align-items: center;
    height: inherit;
    
}
.timeline{
    position: relative;
    width: 75%;
    border: 2px solid black;
   
}
.timeline-box{
    background-color: darksalmon;
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed rgb(116, 181, 197);
    top:10%;
    right: 0%;
    left: 50%;
}
.timeline-traveller{
    position: sticky;
    top:35%;
    transform: rotate(90deg); 
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box::after{
    content: '';
   background-color: black;
   top: 30%; 
   border-radius: 50%;
   width: 0.5rem;
   height: 0.5rem;
   right: -12.5%;
   position:absolute;
   z-index: 1;
}


.timeline-box:nth-child(2n)::after{
    content: '';
   background-color: black;
   top: 30%; 
   border-radius: 50%;
   width: 0.4rem;
   height: 0.5rem;
   left: -9%;
   position:absolute;
   z-index: 1;
}
.timeline-box>p{
  
    font-weight: 700;
    font-size: Small;
    color: rgb(79, 255, 196);
}
.tech-learn-container>h1{
    font-weight: 700;
    font-size: 1.55rem;
    color: rgb(66, 127, 218);
    
 }
.tech-learn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-box>h2{
    font-weight: 700;
    font-size: medium;
    color: rgb(236, 182, 81);
}

.techlearn::before{
    background-repeat: no-repeat;
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/tech\ learner.jpg);
    height: 30px;
    width: 40px;
   
}
.freelancer::after{
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/freelancer\ logo.jpg);
    height: 40px;
    background-repeat: no-repeat;
    align-items: center;
    width: 80px;
}

.credex::before{
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/credex\ logo.jpg);
    height: 50px;
    width: 40px;
    background-repeat: no-repeat;
    align-items: center;
} 
.timeline-box>h3{
    font-size: 1rem;
}
.timeline-traveller-1{
    position: sticky;
    top:35%;
 
}

.manav::after{
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/manav.jpg);
    height: 40px;
    background-repeat: no-repeat;
    align-items: center;
    width: 80px;
}

.heera::after{
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/heera.jpg);
    height: 40px;
    background-repeat: no-repeat;
    align-items: center;
    width: 80px;
}

.victoria::after{
    content: '';
    background-size: contain;
    display: inline-block;
    background-image:url(image/victoria.jpg);
    height: 40px;
    background-repeat: no-repeat;
    align-items: center;
    width: 80px;
}
.tech-learn-container-1>h1{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(66, 127, 218);
    
}
.portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    /* display: none; */
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
    /* background-color: white; */
}


.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    /* display: block; */
    color: white;
}
